<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Campo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="logo.png" alt="AluGol">
            AluGol
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios:profile' %}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Campos</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <!-- Imagem e Informações do Campo -->
            <div class="col-md-7">
                <div class="card shadow-sm h-100">
                    {% if campo.foto %}
                    <img src="{{ campo.foto.url }}" class="card-img-top" alt="{{ campo.nome }}">
                    {% else %}
                    <img src="default-field.jpg" class="card-img-top" alt="Imagem padrão do campo">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ campo.nome }}</h5>
                        <p class="card-text"><strong>Localização:</strong> {{ campo.endereco }}</p>
                        <p class="card-text"><strong>Dimensão:</strong> {{ campo.dimensao }}</p>
                        <p class="card-text"><strong>Tipo de Gramado:</strong> {{ campo.get_tipo_gramado_display }}</p>
                        <p class="card-text"><strong>Iluminação Noturna:</strong> {% if campo.iluminacao_noturna %} Sim {% else %} Não {% endif %}</p>
                        <p class="card-text"><strong>Vestiário:</strong> {% if campo.vestiarios %} Sim {% else %} Não {% endif %}</p>
                        <p class="card-text"><strong>Preço:</strong> R$ {{ campo.preco_por_hora }}</p>
                    </div>
                </div>
            </div>

            <!-- Mapa -->
            <div class="col-md-5 h-50">
                <h5 class="card-title">Localização</h5>
                <div class="card mb-4 shadow-sm">
                    <div class="card-body" >
                        <div id="map" class="w-100" style="height: 400px;"></div>
                    </div>
                </div>

                <!-- Modal para Exibição de Erros -->
                <div class="modal fade" id="erroModal" tabindex="-1" aria-labelledby="erroModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="erroModalLabel">Erro na Reserva</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p id="erroMensagem"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                        <!-- Formulário de Reserva -->
        <div class="row mt-4 ">
            <div class="col-md-12 text-center">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Faça sua Reserva</h5>
                        <form method="POST" action="{% url 'reservas:reservar' campo.id %}">
                            {% csrf_token %}
                            <div class="form-group w-50 mx-auto">
                                <label for="id_data_inicio">Data e Hora de Início</label>
                                <input type="text" id="id_data_inicio" name="data_inicio" class="form-control shadow-sm text-center" required>                            </div>

                            <div class="form-group w-50 mx-auto ">
                                <label for="id_data_fim">Data e Hora de Fim</label>
                                <input type="text" id="id_data_fim" name="data_fim" class="form-control shadow-sm text-center" required>                            </div>
                                <div id="preco" class="mb-3 text-center">
                                    <p class="h5">Preço: R$ <span id="preco_valor">0</span></p>
                                    <input type="hidden" id="preco_total" name="preco_total" value="{{ preco_total }}">
                                </div>
                            <button type="submit" class="btn btn-primary">Confirmar Reserva</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>


        <!-- Seção de Comentários ou Avaliações -->
        <div class="row mt-4 mb-4">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Comentários e Avaliações</h5>
                        <p>Não há comentários ainda.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Adicionando o Bootstrap, Leaflet e Flatpickr -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Inicializa o mapa
            var endereco = "{{ campo.endereco }}";
            var apiKey = 'AIzaSyCnyOD_c4KKH7mSvQP_3QObDjg5cyawnC8';
    
            function geocodeAddress(address, callback) {
                var geocodeURL = `https://maps.googleapis.com/maps/api/geocode/json?address=${encodeURIComponent(address)}&key=${apiKey}`;
                fetch(geocodeURL)
                    .then(response => response.json())
                    .then(data => {
                        if (data.results.length > 0) {
                            var lat = parseFloat(data.results[0].geometry.location.lat);
                            var lon = parseFloat(data.results[0].geometry.location.lng);
                            callback(lat, lon);
                        } else {
                            var cidade = "{{ campo.cidade }}";
                            var addressWithCity = `${address}, ${cidade}`;
                            var fallbackGeocodeURL = `https://maps.googleapis.com/maps/api/geocode/json?address=${encodeURIComponent(addressWithCity)}&key=${apiKey}`;
                            fetch(fallbackGeocodeURL)
                                .then(response => response.json())
                                .then(data => {
                                    if (data.results.length > 0) {
                                        var lat = parseFloat(data.results[0].geometry.location.lat);
                                        var lon = parseFloat(data.results[0].geometry.location.lng);
                                        callback(lat, lon);
                                    } else {
                                        callback(-15.7801, -47.9292); // Coordenadas padrão (Brasília)
                                    }
                                })
                                .catch(error => callback(-15.7801, -47.9292)); // Coordenadas padrão (Brasília)
                        }
                    })
                    .catch(error => callback(-15.7801, -47.9292)); // Coordenadas padrão (Brasília)
            }
    
            function initializeMap(lat, lon) {
                var map = L.map('map').setView([lat, lon], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);
                L.marker([lat, lon]).addTo(map)
                    .bindPopup(campo.nome)
                    .openPopup();
            }
    
            geocodeAddress(endereco, function (lat, lon) {
                initializeMap(lat, lon);
            });
    
    
            // Inicializa o Flatpickr
            flatpickr("#id_data_inicio", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true,
            });
            flatpickr("#id_data_fim", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true,
            });
    
            // Calcula o preço com base na seleção
            document.querySelector('#id_data_inicio').addEventListener('change', updatePrice);
            document.querySelector('#id_data_fim').addEventListener('change', updatePrice);
    
            function updatePrice() {
                var dataInicio = flatpickr.parseDate(document.querySelector('#id_data_inicio').value, "Y-m-d H:i");
                var dataFim = flatpickr.parseDate(document.querySelector('#id_data_fim').value, "Y-m-d H:i");
    
                if (dataInicio && dataFim && dataInicio < dataFim) {
                    var diffMs = dataFim.getTime() - dataInicio.getTime();
                    var diffHours = diffMs / (1000 * 60 * 60);
                    var precoPorHora = parseFloat("{{ campo.preco_por_hora }}");
                    var precoTotal = diffHours * precoPorHora;
                    document.querySelector('#preco_valor').textContent = precoTotal.toFixed(2);
                    document.getElementById('preco_total').setAttribute('value', precoTotal);
                    console.log(preco_total.value);
                } else {
                    document.querySelector('#preco_valor').textContent = '0';
                }
            }
    
    var erroMensagem = "{{ erro_mensagem|default:'' }}";
    if (erroMensagem) {
        document.getElementById('erroMensagem').textContent = erroMensagem;
        $('#erroModal').modal('show');
    }
});
    </script>
</body>

</html>
