<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Reservas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Histórico de Reservas</h1>
    {% if reservas %}
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Data de Início</th>
                <th>Data de Fim</th>
                <th>Preço Total</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.campo.nome }}</td>
                <td>{{ reserva.data_inicio }}</td>
                <td>{{ reserva.data_fim }}</td>
                <td>R$ {{ reserva.preco_total }}</td>
                <td>
                    {% if not reserva.is_active %}
                        <span class="badge badge-secondary">Cancelada</span>
                    {% elif reserva.data_fim < now %}
                        <span class="badge badge-danger">Finalizada</span>
                    {% else %}
                        <span class="badge badge-success">Aberta</span>
                    {% endif %}
                </td>
                <td>
                    {% if reserva.is_active %}
                        <a href="{% url 'reservas:cancelar_reserva' reserva.id %}" class="btn btn-secondary btn-sm rounded-pill">Cancelar</a>
                    {% else %}
                        <span class="text-muted">Sem Ação</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Nenhuma reserva encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'usuarios:profile' %}" class="btn btn-primary mt-3">Voltar para o Perfil</a>
    {% else %}
        <p>Você ainda não fez nenhuma reserva.</p>
    {% endif %}
</div>
</body>
</html>
